:root {
    --primary-color: #055a05;
    /*forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, san-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    box-sizing: border-box;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    box-sizing: border-box;
    background-color: red;
    padding-left: 40px;
}

.socialmedia a {
    text-decoration: none;

}

.hero {
    position: relative;
    background-color: red;
    box-sizing: border-box;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: darkgrey;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    float: right;
    width: 125px;
    clear: left;

}

footer {
    background-color: chocolate;
    box-sizing: border-box;

}

section {
    background-color: #e9c46a;
    box-sizing: border-box;
}

main {
    background: #f4a261;
    box-sizing: border-box;
    border: #264653;
}

span {
    background-color: yellow;
    border-color: red;
}