* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'montserrat', Helvetica, sans-serf;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1)
}

/* above included the :root css */

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: 5rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 40px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    padding: 10px;
    margin: 1rem;
}



/* some variable use in the declarations */
h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

aside {
    width: 20em;
    text-align: center;
    position: relative;

}

aside image {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 20px;
    left: 170px;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 1rem;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

ul {
    display: block;
    list-style: disc;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0;
    padding-inline-start: 40px;
}