:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'montserrat', Helvetica, sans-serf;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1)
}

/* above included the :root css */

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}



/* some variable use in the declarations */
h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}